POSTGRES_DB=seu_banco
POSTGRES_PASSWORD=sua_senha
POSTGRES_USER=nome_de_usuario
POSTGRES_PORT=porta_do_postgres

DATABASE_URL=postgresql://nome_de_usuario:sua_senha@localhost:porta_do_postgres/seu_banco

LOCALSTACK_AUTH_TOKEN=sua_chave_de_autenticacao
LOCALSTACK_PORT=porta_do_localstack8